<a href="https://colab.research.google.com/github/gitzV/DataScience/blob/main/tds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [5]:
a1 = np.array([1,2,3,4])
a1.shape

(4,)

In [6]:
a2 = np.array([[1,2,3,4]]) # initialized with a numpy list 
a2.shape

(1, 4)

In [7]:
a3 = np.array([[1], 
               [2], 
               [3], 
               [4]])
a3.shape

(4, 1)

In [9]:
M1 = np.array([[1,0,0], 
               [0,1,0], 
               [0,0,1], 
               [0,0,1]])
M1 
M1.shape

(4, 3)

In [10]:
m = M1.shape[0] # number of rows
n = M1.shape[1] # number of columns 
print("m: {}  n:{}".format(m,n))

m: 4  n:3